<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="css/game.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <head>
    </head>
    <body style="margin:0px; background-color: #284141;">
        <canvas style = "width: 100%; height: 100%; position: fixed;" id = "backgroundCanvas"></canvas>
        <div style="display: none; opacity: 0;"  class="smallPrompt" id="wordPrompt">
            <h2 style="text-align: center; padding-top: 10px;"> Select Your Word </h2>
            <div id="newWordStrip" style="width:100%; height:100%;">
            </div>
            <button class="confirmButton" id="confirmWord"> Confirm? </button>
        </div>
        <div style = "display: none; opacity: 0" class="smallPrompt" id="joinPrompt">
            <h2 style="text-align: center; padding-top: 10px;"> Please Enter Valid Join Code: </h2>
            <div id="joinCodeStrip" style="width:100%; height:100%;">
            </div>
            <button class="confirmButton" id="confirmJoin"> Confirm? </button>
        </div>
        <div style = "display: none; opacity: 0" class="gamePrompt">
            <h2 style="text-align: center; padding-top: 10px;"> Wordle Multiplayer </h2>
            <div id="wordleBoxes" style = "position: absolute;  height: 45%; width: 100%; overflow-y: auto;">

            </div>
            Hint: try starting out with 'crane'
        </div>

    </body>
    <script src="/socket.io/socket.io.js" ></script>
    <script type="module" src="../javascript/backgroundAnimation.js"></script>
    <script type="module" src="../javascript/game/game.js"></script>
</html>