<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="css/game.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <head>
    </head>
    <body style="margin:0px; background-color: #284141;">
        <canvas style = "width: 100%; height: 100%; position: fixed; filter: blur(10px)" id = "backgroundCanvas"></canvas>
        <div style="display: none; opacity: 0;"  class="smallPrompt" id="wordPrompt">
            <h2 style="text-align: center; font-family: 'Montserrat', sans-serif;"> Select Your Word </h2>
            <div id="newWordStrip" style="width:100%; height: 100%; position: absolute; top: 35%">
            </div>
            <p style="text-align: center; font-size: 1vh; position: absolute; bottom: 0; right:10%">Press [RETURN] to Continue</p>
        </div>
        <div style = "display: none; opacity: 0" class="smallPrompt" id="joinPrompt">
            <h2 style="text-align: center;"> Please Enter Valid Join Code: </h2>
            <div id="joinCodeStrip" style="width:100%; height:100%; position: absolute;">
            </div>
            <p style="text-align: center; font-size: 1vh; position: absolute; bottom: 0; right:10%">Press [RETURN] to Continue </p>
        </div>
        <div style = "display: none; opacity: 0" class="gamePrompt" id="gamePrompt">
            <h2 style="text-align: center; position: relative; top: 0%; display: none" id="title"> Wordle Multiplayer </h2>
            <div id="wordleBoxes" style = "position: absolute; height: 35%; width: 100%; top: 10%; overflow-y: auto">
            </div>
            <div style="position: absolute; top: 50%; left: 60%; border-radius: 5px; width: 20%; border: 1px solid slategrey; text-align: center; display: none" id= "scores">
                <p id="youScore"> YOU: 0 </p>
                <p id="oppScore"> OPP: 0 </p>
            </div>
            <canvas id="wordTimer" style="position: absolute; top: 45%; left: 20%; width: 30%" width="1000" height="1000"></canvas>
            <div id="yourWord" style="position: absolute; height: 20%; width: 100%; top: 35%; left: 0%"></div>
            
        </div>
        <div id="readyPrompt" style="position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,.5);; top: 0; display: none;">
            <button id="readyButton" class="readyButton"> Press if Ready </button>
        </div>
        <div id="gameResultBack" style="position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,.5);; top: 0; display: none;">
            <div id="gameResult" style="position: absolute; width: 120%; height: 30%; top: 20%; left: -10%; display: none;">
                <h2 id="resultText" style="text-align: center; padding-top: 5vh;">  </h2>
                <p id="resultText" style="text-align: center; padding-top: 1px;"> (Press [RETURN] to continue) </p>
            </div>
        </div>

    </body>
    <script src="/socket.io/socket.io.js" ></script>
    <script type="module" src="../javascript/backgroundAnimation.js"></script>
    <script type="module" src="../javascript/game/game.js"></script>
</html>