<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../Versitle.png" type="image/jpg"> 
    <head>
        <title> Versitle </title>
    </head>
    <body style="margin:0px; background-color: #284141;">
        <canvas style = "width: 100%; height: 100%; position: fixed; filter: blur(10px)" id = "backgroundCanvas"></canvas>
        <div style = "position: absolute; width: 50%; height: 50%; background-color: #223838; border-left: 5px dotted rgb(38, 45, 49); border-right:  5px dotted rgb(38, 45, 49); left: 25%; top:25%; opacity: 0.7; border-radius: 20px; " id="prompt">
            <h2 style="text-align: center; padding-top: 10px; font-family: 'Montserrat', sans-serif;"> Versitle </h2>
            <button class = "choiceButt" id="newGame"> Create New Game </button>
            <button class = "choiceButt" id="joinGame"> Join Game </button>
            <p style="font-size: 2vh; position: absolute; top: 85%; left: 60%; width: 50%;text-align: center;"> <a href="https://github.com/DaxGute/Versitle">Code</a> by Daxton Gutekunst </p>
        </div>

    </body>
    <script src="/socket.io/socket.io.js" ></script>
    <script type="module" src="../javascript/backgroundAnimation.js"></script>
    <script type="module" src="../javascript/home/home.js"></script>
</html>