<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../Versitle.png" type="image/jpg"> 
    <head>
        <title> Versitle </title>
    </head>
    <body style="margin:0px; background-color: #284141;">
        <canvas style = "width: 100%; height: 100%; position: fixed; filter: blur(10px)" id = "backgroundCanvas"></canvas>

        <div style = "position: absolute; width: 50%; height: 50%; background-color: #223838; border-left: 5px dotted rgb(38, 45, 49); border-right:  5px dotted rgb(38, 45, 49); left: 25%; top:25%; opacity: 0.7; border-radius: 20px; " id="prompt">
            <h2 style="text-align: center; padding-top: 10px; font-family: 'Montserrat', sans-serif;"> Versitle </h2>
            <button class = "choiceButt" id="newGame"> Create New Game </button>
            <button class = "choiceButt" id="joinGame"> Join Game </button>
            <p style="font-size: 2vh; position: absolute; top: 85%; left: 60%; width: 50%;text-align: center;"> <a href="https://github.com/DaxGute/Versitle">Code</a> by Daxton Gutekunst </p>
        </div>

        <div id="instructionsPrompt" style="position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); top: 0; display: none;">
            <div id="instructions" style="overflow-y: auto">
                <h2> Initiating a Game </h2>
                <h3> Menu </h3>
                    <ul>
                        <li> To sart a new game click <button disabled>Create New Game</button> </li>
                        <li> To join a game with a friend click <button disabled>Join Game</button> </li>
                    </ul>
                <h3> Joining a Game </h3>
                There are Two Ways of entering a Game:
                    <ul>
                        <li> Copying and Pasting the Link that your friend sends you </li>
                        <li> After clicking <button disabled>Join Game</button> type in the 5 letter room code for your friends room <input style="width: 1%" disabled></input>  <input style="width: 1%" disabled></input>  <input style="width: 1%" disabled></input>  <input style="width: 1%" disabled></input>  <input style="width: 1%" disabled></input></li>
                        Note: This room code can be found in the URL of your friend's game that they created
                    </ul>
                <h3> Submitting Your Word </h3>
                In both cases (of joining and creating) you must submit your word for the first round
                <ul>
                    <li> 5 letters <input style="width: 1%" disabled></input>  <input style="width: 1%" disabled></input>  <input style="width: 1%" disabled></input>  <input style="width: 1%" disabled></input>  <input style="width: 1%" disabled></input></li>
                    <li> Dictionary Valid</li>
                    <li> When you are done with the word press [RETURN]</li>
                </ul>
                <h3> Confirming Ready </h3>
                Both players must confirm ready by clicking <button disabled>Press If Ready</button>. Then the game can begin.
                <h2> Gameplay </h2>
                <h3> Wordle Boxes</h3>
                Your word is located at the <mark style="background-color: grey">bottom</mark> of the screen and will change variable to the progress that your friend has made on your word
                <ul>
                    <li> A <input style="width: 1%; background-color: green" disabled></input> means that your friend has correctly guessed both the letter and its place in the word</li>
                    <li> A <input style="width: 1%; background-color: orange" disabled></input> means that your friend has guessed the letter but in a wrong position</li>
                    <li> A <input style="width: 1%; background-color: grey" disabled></input> means that your friend has guessed the niether the letter nor its position</li>
                </ul>
                Your guesses are located at the <mark style="background-color: grey">top</mark> of the page. Once you make a guess, the color scoring will appear
                <ul>
                    <li> A <input style="width: 1%; background-color: green" disabled></input> means that you have correctly guessed both the letter and its place in the word</li>
                    <li> A <input style="width: 1%; background-color: orange" disabled></input> means that you have guessed the letter but in a wrong position</li>
                    <li> A <input style="width: 1%; background-color: grey" disabled></input> means that you have guessed the niether the letter nor its position</li>
                </ul>
                <h3> Win Conditions </h3>
                A player wins if they correctly guess all the letters and positions in their opponents word <input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input> (i.e. they guess the word)
                <ul>
                    <li> You win if you get <input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input> before your friend does </li>
                    <li> Your friend wins if they get <input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input><input style="width: 1%; background-color: green" disabled></input> before you do</li>
                    <li> A draw is acheived if both players guess the opposite's word on the same turn</li>
                </ul>
                Winning; 1 Point | 
                Drawing: 0.5 points | 
                Losing: 0 Points
                <h3> Round </h3>
                A round consists of 10 second intervals as shown by the timer
                <p>After a round ends:</p>
                <ul>
                    <li> Your guess will be submitted and scored </li>
                    <li> Both your word and your guesses scoring will be updated</li>
                    <li> A winner will be declared if applicable </li>
                </ul>
                <h3> After Result </h3>
                <p>The player will once again be prompted for word and the proccess of the game will cycle</p>
                <p>The rounds will increment and the scores will update from round to round</p>
                <h2> Thank you for Playing My Game! </h2>
            </div>
        </div>

        <p id="helpButtonText" style="font-size: 3vh; color: white; position: absolute; bottom: 0.6%; right: 4.75%; opacity: 1;">?</p>
        <p id="helpButtonClose" style="font-size: 3vh; color: white; position: absolute; bottom: 90.5%; right: 4.5%; opacity: 0;">X</p>
        <input type="checkbox" id = "helpButton" style="opacity: 0.5">

    </body>
    <script src="/socket.io/socket.io.js" ></script>
    <script type="module" src="../javascript/backgroundAnimation.js"></script>
    <script type="module" src="../javascript/home/home.js"></script>
</html>