.letterInput{
  width: 10%;
  border: 5px solid rgb(38, 45, 49);;
  box-shadow: 0 1px 0 ;
  border-radius: 20px;
  background-color: #2f4d4d;
  position: absolute;
  text-transform: lowercase;
  font-size: 10vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #0e1616;
}
.letterInput:focus {
  outline: 3px solid  #2f4d4d;
}

.smallPrompt{
  position: absolute; 
  width: 50%; 
  height: 30%; 
  background-color: #223838;
  border-left: 5px dotted rgb(38, 45, 49); 
  border-right:  5px dotted rgb(38, 45, 49); 
  left: 25%; 
  top: 35%; 
  opacity: 0.7; 
  border-radius: 50px; 
  font-family: 'Montserrat', sans-serif;
}

.gamePrompt{
  position: absolute; 
  width: 50%; 
  height: 100%; 
  background-color:#223838;
  border-left: 5px dotted rgb(38, 45, 49); 
  border-right:  5px dotted rgb(38, 45, 49); 
  left: 25%;
  opacity: 0.7;
  font-family: 'Montserrat', sans-serif;
}

.confirmButton{
  position: absolute; 
  top: 100%;
  left: 70%;
  background-color: #223838;
  color: #0e1616;
  width: 20%;
  height: 20%;
  font-size: 3vh;
  border-radius: 0px 0px 10px 10px;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
}
.confirmButton:hover{
  background-color:#2f4d4d;
}
  
.readyButton{
  position: absolute; 
  width: 30%; 
  height:30%; 
  top: 35%; 
  left: 35%; 
  background-color: #223838; 
  border: none; 
  border-radius: 1000px;
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
  font-size: 3vh
}
.readyButton:hover{
  background-color: #2f4d4d; 
  cursor: pointer;
}

::selection {
  background: #365858;
}

@keyframes fadeOut {
  0% {opacity:0.7;}
  100% {opacity:0;}
}
  
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:0.7;}
}

@keyframes countdown {
  0% {
    opacity:0.7;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%
  }
  100% {
    opacity:0;
    width: 10%;
    height: 10%;
    top: 45%;
    left: 45%}
}

@keyframes turnToGame{
  from {
    top:35%; 
    border-radius: 50px;
    height: 30%;
    opacity: 1;
  }
  to {
    top:0%; 
    border-radius: 0px;
    height: 100%;
    opacity: 1;
  }
}

@keyframes lowerWord{
  from {
    top:35%;
    width:100%;
    left:0%;
  } 
  to {
    top:80%;
    width:70%;
    left:15%;
  }
}

@keyframes showBanner{
  0%{
    height: 0%;
    width: 0%;
    left: 50%
  }
  100%{
    height: 30%;
    width: 100%;
    left: 0%;
  }
}