.letterInput{
  width: 10%;
  border: 5px solid green;
  box-shadow: 0 1px 0 rgb(49, 94, 69);
  border-radius: 20px;
  background-color: white;
  position: absolute;
  text-transform: lowercase;
  font-size: 10vh;
  text-align: center;

}
.letterInput:disabled{
  background-color: rgba(109, 109, 109, 0.933)

}

.smallPrompt{
  position: absolute; 
  width: 50%; 
  height: 30%; 
  background-color: #e3fff6; 
  border-left: 5px dotted #144553; 
  border-right:  5px dotted #144553; 
  left: 25%; 
  top: 35%; 
  opacity: 0.7; 
  border-radius: 50px; 
}

.gamePrompt{
  position: absolute; 
  width: 50%; 
  height: 100%; 
  background-color: #e3fff6; 
  border-left: 5px dotted #144553; 
  border-right:  5px dotted #144553; 
  left: 25%;
}

.confirmButton{
  position: absolute; 
  top: 100%;
  left: 70%;
  background-color: #e3fff6;
  color: rgb(163, 240, 111);
  width: 20%;
  height: 20%;
  font-size: 3vh;
  border-radius: 0px 0px 10px 10px;
}
.confirmButton:hover{
  background-color: #f0e1ba;
  color: rgb(240, 221, 111);
}
  
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }