.choiceButt {
    display:inline-block;
    width: 30%;
    height: 50px;
    padding: 0px;
    border: 0px;
    margin:0px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    color: #363636;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);

  }
  
#newGame {
    background-color: #baeb9a;
    top: 40%;
    left: 50%;
}
#newGame:hover {
    background-color: #97d86b;
}
#joinGame {
    top: 60%;
    left: 50%;
    background-color: #97d86b;
}
#joinGame:hover {
    background-color: #7ec250;
}
@keyframes turnToGame{
    from {
        top:25%; 
        border-radius: 20px;
        height: 50%;
    }
    to {
        top:40%; 
        border-radius: 50px;
        height: 20%;
    }
}
  