.letterInput{
  width: 5%;
  height: 5%;
  border: 5px solid green;
  box-shadow: 0 1px 0 rgb(49, 94, 69);
  border-radius: 20px;
  background-color: white;
  position: absolute;

}
.letterInput:disabled{
  background-color: rgba(109, 109, 109, 0.933)

}
.fade-out {
    display: none;
    animation: fadeOut 1s forwards;
  }
  
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
.fade-in {
    display:block;
    animation: fadeIn 1s forwards;
  }
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }